/* defining variables */
:root{

    --jumbotron-backgound: aquamarine;
    --page-heading-font-size: 7vw;
    --page-heading-font-size-final: 3vw;
    --page-heading-initial-spacing: 6vw;
    --page-heading-letter-spacing:2vw;
    --page-heading-letter-spacing-final: 1vw;

    --section-background: #F98B88;
    --section-inital-position : 100%;
    --section-final-position: 10%;


}


body{
    margin: 0;
    width: 100vw;
    max-width:100%;
    height: 100vh;

    overflow: hidden;
}

h1,h2,p {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
}

/* --------------------------BASIC LAYOUT------------------------------------- */

/* JUMBOTRON CONTAINS THE WEB APP HEADING */
#jumbotron{

    width: 100%;
    height: 75%;
    position: fixed;
    top: 5%;
    background-color: var(--jumbotron-backgound);

    display: flex;
    justify-content: center;
    align-items: center;

}

/* ALL THE FUNCTIONAL ASPECTS ARE IN SECTION */
section{
    
    width: 50%;
    height: 85%;

    background-color: var(--section-background);
    position: relative;
    top: var(--section-final-position);
   
    display:flex;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: 10%;
    border: .6vw solid white;
    border-radius: 5%;
    
}

/* STYLING THE PAGE-HEADING */
#page-heading{
    
    font-size: var(--page-heading-font-size);
    font-weight: 100;    
    letter-spacing: var(--page-heading-letter-spacing);
    position: relative;
    display: block;

    font-size: var(--page-heading-font-size-final);
    letter-spacing: var(--page-heading-letter-spacing-final);
    left: 30vw;
}

/* STYLING THE FORM ----------------------------*/
form{

    width: 96%;
    height: 45%;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    overflow: hidden;
 
}

/* styling the description container inside form*/
#description-container{
    
    width: 100%;
    height: 30%;
    border-bottom: white 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 

}

/* textbox to type in description */
#textbox{
    width: 98%;
    height: 40%;

    text-overflow:inherit;
    border: none;
 

}

#textbox:focus{
    outline: none;
}

/* row 2------- */

#row-2{
    width: 100%;
    height: 30%;
    border-bottom: white 5px solid;
    display: flex;

}

/* styling the category container inside form*/
#category-container{
    width: 50%;
    height: 100%;
    border-right: white 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 2%;

}


#date-container{
    width: 50%;
    height: 100%;
    display: flex;
    padding-left: 2%;
    flex-direction: column;
    justify-content: space-evenly;
 
}

/* ROW 3 */

#row-3{
    width: 100%;
    height: 20%;
    display: flex;

}

#add-task-button{
    padding: 1%;
    background-color: #ff8b74;
    border: none;
    color: black;
    box-shadow: black 2px 2px 2px 2px;
    transition: all ease-in-out .2s;

}

#add-task-button:hover{
    background-color: var(--jumbotron-backgound);
}

/* ------------STYLING THE OUTPUT-LIST------- */
#tasks-container{
   
    width: 96%;
    height: 42%;
    background-color: white;
    border-radius: 3%;
    position: relative;
}

#expand-button{
    position: absolute;
    right: .5%;
    top: 1%;
    font-size: 1.2rem;
    transition: all ease-in-out .1s;
}

#expand-button:hover{
    font-size: 1.7rem;
}



 /*----------------------- ANIMATING THE TASKS CONTAINER VIEW------------ */
/* ------------this is for form-------- */
.expand{
    animation: form-expander 600ms ease-in-out;
}

@keyframes form-expander {
    from{
        height: 0;
        filter: opacity(0);
    }
    to{
        height: 45%;
        filter: opacity(1);
    }
    
}

.contract{
    animation: form-contractor 600ms ease-in-out;
}

@keyframes form-contractor {
    from{
        height: 45%;
        filter: opacity(1);
    }
    to{
        height: 0%;
        filter: opacity(0);
    }
}
/* -------------------------------------------------------------------------------- */
/* this is for tasks-container */
.tasks-container-expand{
    animation: tasks-expander 600ms ease-in-out;
}

@keyframes tasks-expander {
    from{
        height: 42%;
    }
    to{
        height: 95%;
    }
}

.tasks-container-contract{
    animation: tasks-contractor 600ms ease-in-out;
}

@keyframes tasks-contractor {
    from{
        height: 95%;
    }
    to{
        height: 42%;
    }
}